.header-title {
  font-size: 48px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
}


.header {
    background-color: #dd87ac;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 100%;
}

.header-description {
    text-align: center;
    color: #FFFFFF;
}

.stats {
    height: 112px;
    width: 920px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    margin: -30px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.stats-title {
    margin-bottom: 6px;
    margin-top: 2px;
    font-weight: bold;
    color: #dd5182;
    text-align: center;
}

.stats-description {
    font-weight: normal;
    font-size: large;
    text-align: center;
    color: black;

}

.pie-container {
    margin: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    padding: 5px;
    padding-top: 30px;
}

.right-container {
    padding: 5px;
    margin: 30px;
    padding-top: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.graph-title {
   margin-bottom: 6px;
   margin-top: 2px;
   margin-left: 30px;
   font-weight: bold;
   color: #dd5182;
   text-align: left;
   font-size: large;
}

.graph-title-center {
   margin-bottom: 6px;
   margin-top: 30px;
   margin-left: 30px;
   font-weight: bold;
   color: #dd5182;
   text-align: center;
   font-size: large;
}

.table-style{
    padding-top: 30px;
    color: black;
    text-align: center;
    color: #dd5182;
}

.tables-container {
    padding: 2%;
    margin: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    width: 100%;
}

.ngrams-container {
    margin: 30px;
    padding-top: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    width: 100%;
}


.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: pink;
  border: pink;
  color: #fff
}

/* edit selected range */
.CalendarDay__selected_span {
  background: #dd5182;
  border: #dd5182;
  color: #fff
}

.DateInput_input {
background-color: #dd87ac;
color: white;
border-color: white;
}

.DateRangePickerInput {
background-color: #dd87ac;
color: white;
border-color: white;
}

.DateRangePickerInput_arrow {
color: white;
}

.date-picker {
text-align: center;
}